{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                            <h1>{{ .Title }}</h1>
                        </header>
                        <div class="body">
						   <ul>
						        {{ $data := .Data }}
							    {{ range $key,$value := .Data.Index.ByCount }}
							    <li><a href="{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> ({{ $value.Count }})</li>
							    {{ end }}
						   </ul>
                        </div>
                    </article>
                </div>
{{ template "chrome/sidebar.html" . }}
            </div>
        </div>
    </div>

{{ template "chrome/footer.html" }}
