{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                            <h1>{{ .Title }}</h1>
                            <div class="date">
                                <i class="icon-calendar"></i>
                                <span class="data">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
                            </div>
                        </header>
                        <div class="body">
                          {{ .Content }}
                        </div>
{{ template "chrome/disqus.html" . }}
                    </article>
                </div>
{{ template "chrome/sidebar.html" . }}
            </div>
        </div>
    </div>
{{ template "chrome/footer.html" . }}
