
                <aside class="col-md-4 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>I'm Speaking At</h3>
                        </header>
                        <div class="body">
									<a href="http://strataconf.com/strata2014"><img
										src="/media/2014/01/strata.png"
											width="125" height="125" ></a>
									<a href="https://www.percona.com/live/mysql-conference-2014/users/baron-schwartz-1"><img
										src="/media/2014/01/plmce.png"
											width="123" height="123" ></a>
									<a href="http://www.hotsos.com/sym14.html"><img
										src="/media/2014/01/hotsos.png"
											width="125" height="65" ></a>
									<a href="http://www.gophercon.com/"><img
										src="/media/2014/01/gophercon.png"
											width="125" height="101" ></a>
									<a href="http://monitorama.com/"><img
										src="/media/2014/01/monitorama.png"
											width="125" height="125" ></a>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>My Book</h3>
                        </header>
                        <div class="body">
                            <a href="http://www.amazon.com/High-Performance-MySQL-Optimization-Replication/dp/1449314287/?tag=xaprb-20"><img src='/media/2014/01/high-performance-mysql-cover.png' alt='High Performance MySQL' width="305" height="400" style="border:1px solid black" /></a>
                        </div>
                    </div>


                    <div class="aside-widget">
                        <header>
                            <h3>Recent Posts</h3>
                        </header>
                        <div class="body">
                            <ul class="tales-list">
                            {{ range first 10 .Site.Recent }}
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            </ul>
                        </div>
                    </div>

                </aside>
