
                <aside class="col-md-4 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>My Books</h3>
                        </header>
                        <div class="body">
									<p><a href="https://vividcortex.com/resources/building-database-driven-apps-with-go/"><img src='/media/2015/01/ultimate-guide.png' alt='The Ultimate Guide to Building Database-Driven Apps with Go' width="305" height="291" /></a>
									<p><a href="http://www.amazon.com/High-Performance-MySQL-Optimization-Replication/dp/1449314287/?tag=xaprb-20"><img src='/media/2014/01/high-performance-mysql-cover.png' alt='High Performance MySQL' width="305" height="400" style="border:1px solid black" /></a>
                        </div>
                    </div>


                    <div class="aside-widget">
                        <header>
                            <h3>Recent Posts</h3>
                        </header>
                        <div class="body">
                            <ul class="tales-list">
                            {{ range first 10 .Site.Recent }}
                                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                            {{ end }}
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>Upcoming Conferences</h3>
                        </header>
                        <div class="body">
									<p><a href="http://surge.omniti.com/2014?utm_source=BaronBlog&utm_medium=AD&utm_campaign=Surge-Baron">
										<img src="/media/2014/surge.png" width="300" height="250" alt="Save $50 on Surge" border="0"/></a>
									<p><a href="http://www.anrdoezrs.net/click-7094008-11828964">
										<img src="/media/2014/strata.gif" width="300" height="250" alt="Strata Conference + Hadoop World 2014" border="0"/></a>
									<p><a href="http://www.jdoqocy.com/click-7094008-11902862" >
										<img src="/media/2014/velocity-bcn.gif" width="300" height="250" alt="O'Reilly OSCON 2014" border="0"/></a>
									<p><a href="http://www.kqzyfj.com/click-7094008-11910580">
										<img src="/media/2014/strata-bcn.gif" width="300" height="250" alt="O'Reilly OSCON 2014" border="0"/></a>
									<p>Feel free to suggest conferences that might be
									good  to list here. I like databases, open source,
									data, the Web, and programming languages. And
									O'Reilly, of course.</p>
                        </div>
                    </div>

                </aside>
