{{ template "chrome/header.html" . }}
{{ template "chrome/subheader.html" . }}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                        	<p>You are probably looking for the <a href="/blog/">blog</a>.</p>
                        </div>
                    </div>
                </div>

{{ template "chrome/sidebar.html" . }}
            </div>
        </div>
    </div>
{{ template "chrome/footer.html" . }}
